/* *(
    
) */

.dark{
    background-color: black;
    color: white;   
}

.light{
    background-color: white;
    color: black;
}

.mode,.svg{
    display: flex;
    height: 35px;
    width: 30pxpx;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* float: inherit; */
    border-color: purple;
    
}

#div{
    display: flexbox;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

p,h1{
    font-size: x-large;
    font-weight: bold;
    font-family: Georgia;
}

.btn{
    display: flex;
    background-color: magenta;
    height: 60px;
    width: 110px;
    justify-items: center;
    align-items: center;
    border-radius: 1rem;
    align-items: center;
}